<div class="row mt-5 justify-content-center mx-auto">
  <div class="col-12 col-sm-10 col-md-8 col-lg-8 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
      <center>
        <h3 class="card-title">PROFILE</h3>
        <img src="{{names.photo.url}}" alt="image" style="border-radius: 50%; width:100px; height:100px;" />
        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
          <div class="text-md-center text-xl-left">
            <h6 class="mb-1">Joining Date</h6>
          </div>
          <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
            <h6 class="text-muted mb-0">{{names.joiningdate|date:"d-m-Y"}}</h6>
          </div>
        </div>
        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
          <div class="text-md-center text-xl-left">
            <h6 class="mb-1">Desigination</h6>
          </div>
          <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
            <h6 class="text-muted mb-0">{{names.designation.designation}}</h6>
          </div>
        </div>
        <div class="bg-gray-dark d-flex d-md-block d-xl-flex flex-row py-3 px-4 px-md-3 px-xl-4 rounded mt-3">
          <div class="text-md-center text-xl-left">
            <h6 class="mb-1">Total delay</h6>
          </div>
          <div class="align-self-center flex-grow text-right text-md-center text-xl-right py-md-2 py-xl-0">
            <h6 class="text-muted mb-0">{{a}}</h6>
          </div>
        </div>
      </center>
    </div>
  </div>